<ion-content class="dashpage">
  <div class="dashpage__main">
    <div class="dashpage__main--top">
      <div class="dashpage__main--top--icon">
        <ion-icon name="chevron-up-sharp"></ion-icon>
      </div>
    <img src="../../assets/logo-saferoad.png" alt="" />
  </div>
<div class="dashpage__main--text-question">
  <ion-text class="dashpage__main--text-question">
    Como você está se sentindo?
  </ion-text>
</div>
  <div class="dashpage__main--separador">
  <ion-item-divider></ion-item-divider>
</div>
<div class="dashpage__main--buttons">
  <div class="dashpage__main--buttons--bem--div">
  <ion-button class="dashpage__main--buttons--bem"><ion-icon name="happy-outline"></ion-icon> &nbsp; Bem</ion-button>
</div>
  <ion-button class="dashpage__main--buttons--mal"><ion-icon name="sad-outline"></ion-icon> &nbsp; Mal &nbsp;</ion-button>
</div>
  </div>
</ion-content>
