.voice-assist {
  background: #e5e5e5;
  &__header {
    ion-toolbar {
      --background: #f7f5fb;
    }
    &--back {
      ion-icon {
        padding: 8px;
        border-radius: 20px;
        background: #e3e3f2;
        color: #fff;
        font-size: 15px;
      }
    }
    &--title {
      text-overflow: unset;
      white-space: usnet;
      padding-top: 10px;
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
      display: flex;
      align-items: center;
      color: #000;
    }
  }
  &__content {
    --background: #f7f5fb;
    &__chat {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-bottom: 92px;
      &__buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        &--button {
          white-space: inherit;
          --background: #ffffff;
          --box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
          --border-radius: 25px;
          --color: #000;
        }
      }
      &--mine {
        align-items: flex-end;
        div {
          margin-left: 21%;
        }
        .message {
          color: white;
          text-align: right;

          background: linear-gradient(2.03deg, #3834fa 27.09%, #3834fa 64.13%);
          position: relative;
        }
        &--last {
          border-bottom-right-radius: 0px !important;
          margin-bottom: 1.6rem !important;
        }
      }
      &--yours {
        align-items: flex-start;
        div {
          margin-right: 21%;
        }
        .message {
          position: relative;
          background: #e3eaf2;
        }
        &--last {
          border-bottom-left-radius: 0px !important;
          margin-bottom: 1.6rem !important;
        }
      }
    }
  }
  &__footer {
    position: fixed;
    width: 100%;
    height: 92px;
    left: 0px;
    bottom: 0px;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.12);
    background: #f7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    .record-button {
      width: 70px;
      height: 70px;
      position: relative;
      border-radius: 50%;
      div {
        background-color: #fff;
        top: 30%;
        left: 30%;
        width: 40%;
        height: 40%;
        position: relative;
        border-radius: 50%;
        div {
          top: 25%;
          left: 25%;
          width: 50%;
          height: 50%;
          position: relative;
          border-radius: 50%;
        }
      }
    }
  }
}

.align-center {
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 25px;
  padding: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 22px;
  line-height: 22px;
}

.record-button--notrecording {
  background: linear-gradient(102.38deg, #3834fa 9%, #3834fa 54.34%);
  div {
    div {
      background: linear-gradient(102.38deg, #3834fa 9%, #3834fa 54.34%);
    }
  }
}

.record-button--recording {
  background: linear-gradient(
    99deg,
    #9e51ff,
    #d251ff,
    #c54242,
    #851a1a,
    #2800ff,
    #1d088e,
    #18ff00,
    #149f05
  );
  background-size: 1600% 1600%;
  -webkit-animation: Recording 2s ease infinite;
  -moz-animation: Recording 2s ease infinite;
  animation: Recording 2s ease infinite;
  div {
    div {
      background: linear-gradient(
        99deg,
        #9e51ff,
        #d251ff,
        #c54242,
        #851a1a,
        #2800ff,
        #1d088e,
        #18ff00,
        #149f05
      );
      background-size: 1600% 1600%;
      -webkit-animation: Recording 2s ease infinite;
      -moz-animation: Recording 2s ease infinite;
      animation: Recording 2s ease infinite;
    }
  }
}

@-webkit-keyframes Recording {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}
@-moz-keyframes Recording {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}
@keyframes Recording {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
