
<ion-content class="homepage__content" [fullscreen]="true">
  <div class="homepage__content--logo"><img src="../../assets/logo-saferoad.png" alt="">
  </div>
  <div class="homepage__content__container">
    <div class="homepage__content__container--btn-voz">
      <ion-button class="" href="#">
        <p>
          <ion-icon class="homepage__content__container--icone-voz" name="mic"></ion-icon>
         </p>
         <hr>
      Assistente por voz
      </ion-button>

    </div>
      <ion-button class="home__content__container--btn-sos" href="#">Emergencia</ion-button>
    </div>
  </ion-content>