.home-bg {
  --background: linear-gradient(rgba(158, 81, 255, 0.9), rgba(210, 81, 255, 0.9)), url("../../assets/bg-saferoad.jpg") no-repeat center center / cover;
}
.logo{
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.btn-voz-div{
  width: 314px;
  height: 250px;
}
.btn-voz{
  width: 100%;
  height: 100%;
  margin-top: 150px;
  padding-bottom: 34px;
  --border-radius:50px;
  --background:#4A7DFF;
  --box-shadow: -5px 5px 5px #3459B9;
}
.text-color-arraste{
  color:white;
}
.btn-sos{
  width: 65%;
  height: 250px; 
  padding-bottom: 34px;
  --border-radius:50px;
  --background: #F0595F;
  --box-shadow: -5px 5px 5px #F0595F;
}
