<ion-header [translucent]="true">
 
</ion-header>

<ion-content class="home-bg" [fullscreen]="true">
  <div class="logo"><img class="logo" src="../../assets/logo-saferoad.png" alt=""></div>
  <div id="container">

    <div class="btn-voz-div">
    <ion-button class="btn-voz" href="#">

        <ion-icon class="icone-voz" name="mic"></ion-icon>

    Assistente por voz
  </ion-button>
</div>

    <ion-button class="btn-sos" href="#">Emergência</ion-button>
    <div class="arrastar-text">
    <ion-text class="text-color-arraste"> Arraste para ver mais </ion-text>
  </div>
  </div>
</ion-content>